/* Buttons */
.wp-block-button__link {
	background-color: var(--wcus--color--evergreen);
	color: var(--wcus--color--cream);
	border-radius: 5px;
}

.wp-block-button__link:active,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited {
	background-color: var(--wcus--color--fern);
	color: var(--wcus--color--forest);
}

.wp-block-button__link:focus {
	outline: none;
	box-shadow:
		0 0 0 1px var(--wcus--color--cream),
		0 0 0 3px var(--wcus--color--evergreen);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
	background-color: var(--wcus--color--tan);
}

.wp-block-search .wp-block-search__input {
	background: var(--wcus--color--cream);
	border-color: var(--wcus--color--tan);
	color: var(--wcus--color--evergreen);
}

.wp-block-search .wp-block-search__button {
	background: var(--wcus--color--orange);
	color: var(--wcus--color--forest);
	border: none;
}

.wp-block-jetpack-subscriptions {

	&.wp-block-jetpack-subscriptions form[id] { /* Extra specificity. */
		align-items: center;
	}

	& input,
	& button {
		box-sizing: border-box;
	}
}

.wordcamp-block.wordcamp-organizers {
	padding-left: 0;
}

@media (max-width: 599px) {

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column .wp-block-buttons.is-content-justification-right {
		justify-content: flex-start;
	}
}
