/* Buttons */
.wp-block-button__link {
	background-color: var(--wcus--color--evergreen);
	color: var(--wcus--color--cream);
	border-radius: 5px;
}

.wp-block-button__link:active,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited {
	background-color: var(--wcus--color--fern);
	color: var(--wcus--color--forest);
}

.wp-block-button__link:focus {
	outline: none;
	box-shadow:
		0 0 0 1px var(--wcus--color--cream),
		0 0 0 3px var(--wcus--color--evergreen);
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
	background-color: var(--wcus--color--tan);
}

.wp-block-search .wp-block-search__input {
	background: var(--wcus--color--cream);
	border-color: var(--wcus--color--tan);
	color: var(--wcus--color--evergreen);
}

.wp-block-search .wp-block-search__button {
	background: var(--wcus--color--orange);
	color: var(--wcus--color--forest);
	border: none;
}

.wp-block-jetpack-subscriptions {

	&.wp-block-jetpack-subscriptions form[id] { /* Extra specificity. */
		align-items: center;
	}

	& input,
	& button {
		box-sizing: border-box;
	}
}

/* Organizers block */

.wordcamp-block.wordcamp-organizers {
	padding-left: 0;
}

.wordcamp-organizers__post {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-areas: "empty name" "avatar content";
}

.wordcamp-organizers__title {
	grid-area: name;
}

.wordcamp-organizers__post .wordcamp-image__avatar-container {
	grid-area: avatar;
}

.wordcamp-image__avatar-container img {
	border-radius: 50%;
}

.wordcamp-organizers__content {
	grid-area: content;
}

.wordcamp-organizers__content :first-child {
	margin-top: 0;
}

/* Schedule Block */

.wp-block-wordcamp-schedule .wordcamp-schedule__column-header {
	margin: 0 !important;
	background: var(--wcus--color--cream) !important;
	font-family: var(--wcus--font--header);
	font-weight: 400;
	font-size: var(--wcus--font-size--level-4);
	line-height: var(--wcus--line-height--header);
}

.wp-block-wordcamp-schedule .wordcamp-schedule__day {
	grid-gap: 0 !important;
	border-left: 1px solid #f4f4ea;
	border-top: 1px solid #f4f4ea;
	background: transparent;
}

.wp-block-wordcamp-schedule .wordcamp-schedule__time-slot-header,
.wp-block-wordcamp-schedule .wordcamp-schedule__session {
	background: var(--wcus--color--cream) !important;
}

.wordcamp-schedule__column-header,
.wp-block-wordcamp-schedule .wordcamp-schedule__time-slot-header,
.wp-block-wordcamp-schedule .wordcamp-schedule__session {
	box-shadow: none !important;
	border-right: 1px solid #f4f4ea !important;
	border-bottom: 1px solid #f4f4ea !important;
}

.wp-block-wordcamp-schedule .wordcamp-schedule__session {
	font-size: 0.875rem;
}

.wp-block-wordcamp-schedule .wordcamp-schedule__session-title,
.wp-block-wordcamp-schedule .wordcamp-schedule__time-slot-header {
	font-family: var(--wcus--font--body);
	font-size: var(--wcus--font-size--small);
	line-height: var(--wcus--line-height--small);
}

.wordcamp-schedule__session.is-spanning-some-tracks .wordcamp-schedule__session-title a {
	width: 100%;
}

.wp-block-wordcamp-schedule div.wcb-session-favourite-icon a.fav-session-button {
	color: var(--wcus--color--fern);
}

.wp-block-wordcamp-schedule div.wcb-session-favourite-icon a.fav-session-button:hover {
	color: var(--wcus--color--orange);
}

.wp-block-wordcamp-schedule div.wcb-session-favourite-icon a.fav-session-button[aria-pressed="true"] {
	color: var(--wcus--color--evergreen);
}

/* Avatars */

.wp-block-wordcamp-avatar {
	position: relative;
	top: -16px;
	max-width: 100%;

	& img {
		clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0 100%);
	}
}

.wp-block-post:nth-child(3n+2) .wp-block-wordcamp-avatar {
	top: 16px;

	& img {
		clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
	}
}

/* Sponsors block */

.wordcamp-sponsors {
	margin: 0;
	padding: 0;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;

	& .wordcamp-post-list__post:not(#specificity) {
		overflow: visible;
		display: flex;
		margin-bottom: 1rem;
	}

	& .wordcamp-post-list__post div {
		display: flex;
		width: 100%;
	}

	& a {
		display: flex;
		padding: 0.75rem;
		width: 100%;
		background: var(--wcus--color--cream);
		align-items: center;
	}

	& img {
		display: block;
		margin: auto;
	}

	& a:hover,
	& a:focus {
		outline: none;
		box-shadow:
			0 0 0 1px var(--wcus--color--evergreen),
			0 0 0 3px var(--wcus--color--fern);
	}
}

/* Youtube embed blocks */

.wp-block-wordcamp-youtube-live-chat-embed__availability-warning {
	font-size: var(--wcus--font-size--small);
}

.wp-block-columns.youtube-embeds .wp-block-column {
	box-sizing: border-box;
}

.wp-block-columns.youtube-embeds .wp-block-column:nth-of-type(1) {
	margin-right: 0;
	padding-right: 1rem;
	max-width: 66rem;
}

.wp-block-columns.youtube-embeds .wp-block-column:nth-of-type(2) {
	margin-left: 0;
	padding-left: 1rem;
	max-width: 24rem;
}

.wp-block-wordcamp-youtube-live-chat-embed iframe {
	max-width: 100%;
	min-width: auto;
}

.youtube-embeds .wp-block-embed-youtube iframe {
	height: 100% !important;
	width: 100% !important;
}

/* Live Schedule */

.wordcamp-live-schedule__title {
	margin: 0 0 2.5rem;
}

.wordcamp-live-schedule__session {
	margin-bottom: 1.625rem;
}

.wordcamp-live-schedule__session-track {
	font-family: var(--wcus--font--header);
	font-weight: 400;
	font-size: var(--wcus--font-size--level-4);
	line-height: var(--wcus--line-height--header);
}

.wordcamp-live-schedule__session-title {
	margin-bottom: 0.625rem;
	font-family: var(--wcus--font--body);
	font-size: var(--wcus--font-size--body);
	line-height: var(--wcus--line-height--body);
}

.wordcamp-live-schedule__session-time,
.wordcamp-live-schedule__session-speaker {
	font-size: var(--wcus--font-size--small);
}

.wordcamp-live-schedule__session-time {
	margin-bottom: 1rem;
}

.wordcamp-live-schedule__session-speaker a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.wordcamp-live-schedule > p:not([class]) {
	text-align: center;
}

.wordcamp-live-schedule .wordcamp-live-schedule__session:nth-of-type(2n) {
	margin-bottom: 2.5rem;
	padding-bottom: 4rem;
	background-image: url(https://wc-us.org/wp-content/uploads/2021/08/border.svg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 960px 7px;
}

/**
 * Responsive rules.
 */

@media (max-width: 800px) {

	.wp-block-columns.youtube-embeds {
		display: block;
	}

	.wp-block-columns.youtube-embeds .wp-block-column {
		margin: * auto !important;
		padding: 0 !important;
		max-width: 100% !important;
	}
}

@media (max-width: 599px) {

	.wp-block-wordcamp-avatar {
		position: revert !important;
	}

	.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column .wp-block-buttons.is-content-justification-right {
		justify-content: flex-start;
	}
}
