/* Tickets */
#tix {
	max-width: 78rem;
	width: calc(100vw - 8rem);
}

#tix table {
	background-color: #fffdf4;
}

#tix td,
#tix th {
	border: none;
}

#tix select {
	border: revert;
}

.tix-column-remaining {
	display: none;
}

.tix-tickets-list .tix-column-description {
	font-weight: 700;
}

.tix-tickets-list .tix-ticket-title {
	font-weight: 400;
}

.tix-column-quantity {
	text-align: right;
}

.tix-ticket-form,
.tix-private-form,
.tix-attendee-form,
.tix-receipt-form {

	& input[type="text"],
	& input[type="email"],
	& input[type="url"],
	& textarea {
		width: 100%;
		box-sizing: border-box;
	}

	& label {
		margin-bottom: 0;
	}

	& .tix-right br {
		display: none;
	}

	& .tix-right label {
		margin-bottom: 1rem;
	}
}

.tix-row-first-name,
.tix-row-last-name,
.tix-row-email,
.tix-row-question-616,
.tix-row-question-617,
.tix-row-question-618,
.tix-row-question-619,
.tix-row-question-620,
.tix-row-question-621 {

	& td {
		vertical-align: middle;
	}
}

/* override the spacing offset. */
body.admin-bar #tix {
	padding-top: 0;
}
